# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
/tmp/*.zip

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
**/__pycache__/
**/.pytest_cache/
**/vendor/*
**/.venv/*
